@font-face {
  font-family: "Ivar";
  src: url(fonts/IvarText-Bold.ttf);
}

html,
body,
#viewDiv,
#container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #323232;
  font-family: "Ivar, Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* body {
  background: radial-gradient(#12bff2, #0269a1);
} */

#viewDiv canvas {
  filter: saturate(1.2) drop-shadow(0 0 20px white);
}

#viewDiv{
  height: calc( 100vh - 70px );
  /* margin-top:70px; */
}


/* popup styling */

.esri-popup__content {
  margin: 0;
}

.esri-popup__header-title {
  font-size: 18px;
}

.esri-popup__footer {
  display: none;
}

.esri-feature__main-container .popupImage {
  max-height: 250px;
  overflow: hidden;
}

.popupImage > img {
  width: 100%;
}

.popupImageCaption {
  text-align: center;
  font-size: 0.9em;
  padding: 0.1em 1.5em 0;
}

.popupDescription {
  padding: 2em;
}

p.info {
  margin-bottom: 2em;
  font-size: 1.1em;
}

.popupDescription > p:last-child {
  margin-bottom: 0;
}

.popupCredits {
  font-size: 0.8em;
  padding: 0 2.5em 0.5em 2.5em;
}

.esri-attribution__sources a {
  color: #323232;
}

canvas::after{
  display:none!important;
}

/* App */

header{
  align-items: stretch;
  padding: 0 40px;
  display: flex;
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.07);
}

header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 40px;
    color: #000;
    position:relative;
    font-family: Ivar;
}

header a:first-of-type{
  margin-left: 80px;

}

header a.active{
  border-bottom: 2px solid #46F2B6;
}

header a.active:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #46F2B6;
  border-radius: 50%;
  margin-left: 6px;
}

main{
  /* background: red; */
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  height: calc( 100vh - 70px );
  pointer-events: none;
  color: #0C0D0E;
}

.data{
  /* background: green; */
  height: 70%;
  display: flex;
  flex-direction: column;
  padding:10px 40px;
}

.data .bottom{
  margin-top: auto;
}

.title{
  font-size:16px;
}

.counter{
  font-size: 94px;
  font-weight: bold;
  font-family: Ivar;
}

.date{
  font-size:20px;
  font-weight: bold;
  font-family: Ivar;
}

.location{
  font-size:14px;
}

.esri-attribution{
  display:none;
}