@font-face {
  font-family: "Ivar";
  src: url(fonts/IvarText-Bold.ttf);
}

html,
body,
#viewDiv,
#container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #323232;
  font-family: "Ivar, Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* body {
  background: radial-gradient(#12bff2, #0269a1);
} */

#viewDiv canvas {
  filter: saturate(1.2) drop-shadow(0 0 20px white);
}

#viewDiv{
  height: calc( 100vh - 70px );
  /* margin-top:70px; */
}


/* popup styling */

.esri-popup__content {
  margin: 0;
}

.esri-popup__header-title {
  font-size: 18px;
}

.esri-popup__footer {
  display: none;
}

.esri-feature__main-container .popupImage {
  max-height: 250px;
  overflow: hidden;
}

.popupImage > img {
  width: 100%;
}

.popupImageCaption {
  text-align: center;
  font-size: 0.9em;
  padding: 0.1em 1.5em 0;
}

.popupDescription {
  padding: 2em;
}

p.info {
  margin-bottom: 2em;
  font-size: 1.1em;
}

.popupDescription > p:last-child {
  margin-bottom: 0;
}

.popupCredits {
  font-size: 0.8em;
  padding: 0 2.5em 0.5em 2.5em;
}

.esri-attribution__sources a {
  color: #323232;
}

canvas::after{
  display:none!important;
}

.esri-popup__header{
  background: #323232;
  color: #fff;
  padding:2px;
}

.esri-icon-close:before{
  color:#fff;
}

.esri-popup__button:hover{
  background-color: #323232;
}

h2.esri-popup__header-title:hover {
  background: #323232;
}

.popupDescription{
  background: #C4C4C4;
  border: 13px solid #323232;
  min-height: 190px;
}

iframe{
  width: 100%;
  height: 100vh;
  z-index: 54;
  position: relative;
  display:none;
}

/* App */

header{
  align-items: stretch;
  padding: 0 40px;
  display: flex;
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.07);
}

header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 40px;
    color: #323232;
    position:relative;
    font-family: Ivar;
}

header a:first-of-type{
  margin-left: 80px;

}

header a.active{
  border-bottom: 2px solid #46F2B6;
}

header a.active:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #46F2B6;
  border-radius: 50%;
  margin-left: 6px;
}

main{
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  height: calc( 100vh - 70px );
  pointer-events: none;
  color: #0C0D0E;
}

.data{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding:10px 40px;
}

.data .bottom{
  margin-top: 40px;
}

.data .top{
  margin-top: 30px;
}

.title{
  font-size:16px;
}

.counter{
  font-size: 94px;
  font-weight: bold;
  font-family: Ivar;
}

.date{
  font-size:20px;
  font-weight: bold;
  font-family: Ivar;
}

.location{
  font-size:14px;
}

.esri-attribution{
  display:none;
}

.top-countries{
  margin-top:auto;
  max-width: 300px;
  background: rgba(255,255,255,0.6);
  padding: 30px;
  position: relative;
  left: -30px;
}

.country-title{
  font-weight: bold;
  font-family: Ivar;
  font-size: 22px;
  margin-bottom: 20px;
}

.country{
  display:flex;
  white-space: nowrap;
  margin-bottom: 16px;
  align-items: center;
}

.country-count {
  margin-left: auto;
}

.country-name {
  background: #46F2B6;
  padding: 6px;
  font-size: 14px;
}

.country:nth-of-type(1){
  width:300px;
}

.country:nth-of-type(2) .country-name {
  width: 70%;
}
.country:nth-of-type(3) .country-name {
  width: 35%;
}
.country:nth-of-type(4) .country-name {
  width: 32%;
}
.country:nth-of-type(5) .country-name {
  width: 30%;
}
.country:nth-of-type(6) .country-name {
  width: 20%;
}

#myBtn{
  display: flex;
    align-items: center;
  position: fixed;
    z-index: 5;
    top: 90px;
    right: 40px;
    background: #0C0D0E;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 26px;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
}

#myBtn:hover{
  background: #232629;
}

#myBtn img{
  margin-right:10px;
}